{{#each accounts as |account|}}
  <div class="my-account" data-owner="{{account.owner}}">
    <h4 class="name">Name: {{investmentType account.name}}</h4>
    <h4 class="account">Amount:$ {{account.number}}</h4>

    <div class="card-body">
      <h5 class="card-title text-center" style="font-size: 30px;"></h5>
      <form id="form-create-accounts" data-id="{{account._id}}" class="update-acct-form">
        <div class="form-label mb-3">
          <div class="input-group-prepend">
            <span><label class="input-group-text" for="inputGroupSelect01">Options</label></span>
            <select class="custom-select" name="account[name]" id="inputGroupSelect01">
              <option selected>Choose...</option>
              <option value="1">Private Equity</option>
              <option value="2">Investment Fund</option>
              <option value="3">Foundation Donation</option>
            </select>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input type="number" name="account[number]" class="" aria-label="Amount (to the nearest dollar)">
            <div class="input-group-append">
              <span class="input-group-text">.00</span>
            </div>
          </div>
          <button id="delete-account-button" class="btn btn-lg primary btn-block text-uppercase" type="submit" data-id="{{account._id}}">
            Delete
          </button>
          <button id="update-account-button" class="btn btn-lg primary btn-block text-uppercase" type="submit" data-id="{{account._id}}">
            Update
          </button>
        </div>
      </form>
    </div>
  </div>
  <div id="get-accounts"></div>
{{/each}}
